html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;           /*when open or match 33px*/ 
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(360deg);
    transition: .5s all ease-in-out;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    transform: scale(1.2);
    transition: .5s all ease-in-out;
}
.deck .card.not-match {
    background: red;
    transform: scale(1.2);
    transition: .5s all ease-in-out;
   
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}
.score-panel button{
    margin-left: -157px;
    margin-right: 92px;
    padding: 11px 34px;
    font-size: 15px;
    border-radius: 10px;
    background: #28babe;
    cursor: pointer;
    margin-top: -11px;
    transition: 1s all ease-in-out;
    color: #ffffff;
    border: none;
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: -132px;
    margin-top: 1px;
    font-size: 21px;
}
.win {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 26px;
    line-height: 0px;
    transform: scale(0);
}
.win .container
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translatex(-50%) translatey(-50%);
}
.win i {
    font-size: 80px;
    color: #02ccba;
    transition: all 1.5s ease-in-out;
}

.win button {
    background-color: #02ccba;
    color: #fff;
    border: none;
    padding: 17px 34px;
    font-size: 17px;
    border-radius: 10%;
    cursor: pointer;
}